html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
     background: url("../images/page_background.png");
}
hr {
  width: 90%;
}
.brandColor {
  color: #191762
}
.brandColorBackground {
  background-color: #191762;
}
#logo {
  height: 60px;
}
#page-header {
  font-size: 1.9em;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  border-bottom: 2px solid #191762;
}
.navbar {
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
  color: #191762;
  font-size: 1.5em;
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
