html, body {
  margin: 1px;
  padding-top: 5;
  height: 100%;
  max-width: 100%;

}
body {
     background: url("../images/page_background.png");
}
a {
  color: #191762;
  background-color:transparent !important;
}
#headline {
  display: inline-block;
  height: 100px;
  line-height: 100px; 
  vertical-align: middle;
}
#logo {
  float: left;
}
#slogan {
  border-bottom: 1px solid #191762;
 
  padding: 0;
  float: left;
  padding: 10px 5px;
}
.brandColor {
  color: #191762;
}
.brandColorBackground {
  background-color: #191762;
}

/*Navbar*/
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
  color: #191762;
}
.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: none;
	}
}

/*footer styles*/
footer .footer-above {
    background-color: transparent;
    padding-top: 50px;
}
footer .footer-above {
    padding-top: 50px;
    background-color: transparent;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}
footer {
    color: #191762;
}


